__pycache__/
*.pyc
.env
venv/
.venv/
*.log
airflow/logs/
data/raw/
data/processed/
data/checkpoints/
data/spark-ivy/
ml/models/
spark/checkpoints/
data/
spark/logs/
spark/__pycache__/
*.crc
dashboars/__pycache__/
dashboards/logs/
dashboards/reports/
dashboards/__pycache__/